<section class="sponsors">

    <div class="wrapper">

        <div class="sponsors__container swiper mySwiper">

            <div class="sponsors__boxes swiper-wrapper">

                <div class="sponsor__box swiper-slide">
                    <img src="~/Av. site Template/img/brand-1.png" alt="">
                </div>

                <div class="sponsor__box swiper-slide">
                    <img src="~/Av. site Template/img/brand-2.png" alt="">
                </div>

                <div class="sponsor__box swiper-slide">
                    <img src="~/Av. site Template/img/brand-3.png" alt="">
                </div>

                <div class="sponsor__box swiper-slide">
                    <img src="~/Av. site Template/img/brand-5-1.png" alt="">
                </div>

                <div class="sponsor__box swiper-slide">
                    <img src="~/Av. site Template/img/brand-4.png" alt="">
                </div>

            </div>

            <!-- <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div> -->

        </div>

        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

        <!-- Swiper'ı Başlat -->

        <script>

            var swiper = new Swiper(".mySwiper", {
                slidesPerView: 5,
                spaceBetween: 10,
                slidesPerGroup: 1,
                loop: true,
                loopFillGroupWithBlank: true,
                pagination: {
                    el: ".swiper-pagination",
                    clickable: true
                },
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev"
                }
            });

        </script>

    </div>

</section>