<section class="experience">

    <div class="wrapper">

        <div class="experience__container">

            <div class="experience__textbox">

                <h3>25 Yıllık Tecrübeye Sahip En İyi Avukatlarız</h3>
                <p>
                    Avukatlarımız müşterilere, kurumsal risk uygulamaları da dahil olmak üzere çeşitli entegre global yetenekler sunmaktadır.
                </p>

            </div>

            <div class="experience__boxes">

                <div class="experience-box">
                    <img src="~/Av. site Template/img/fun1.png" alt="Deneyim Resmi">
                    <div>
                        <h3>Başarılı Dava Örneklerimiz</h3>
                    </div>
                </div>

                <div class="experience-box">
                    <img src="./img/fun2.png" alt="Deneyim Resmi">
                    <div>
                        <h3>Profesyonel Avukatlar</h3>
                    </div>
                </div>

                <div class="experience-box">
                    <img src="~/Av. site Template/img/fun3.png" alt="Deneyim Resmi">
                    <div>
                        <h3>Uzun Süreli Deneyime Sahip Avukatlar</h3>
                    </div>
                </div>

            </div>

        </div>

    </div>

</section> 
