<head>
    <link href="~/css/404notfoundpage/style404.css" rel="stylesheet" />
    <script src="~/scripts/parallax.js"></script>

    <script src="~/scripts/jquery-3.6.4.min.js"></script>
    <title>Kişi Bulunamadı</title>

</head>




<nav>
    <div class="menu">
        <p class="website_name">
            <a href="/">
                <img src="~/Av. site Template/img/logo YPR.png" />
            </a>
        </p>
        <div class="menu_links">
            <a href="/" class="link">Ana Sayfa</a>
            <a href="/About" class="link">Hakkımda</a>
            <a href="/PracticeArea" class="link">Çalışma Alanları</a>
            <a href="/Blog" class="link">Bloglar</a>
            <a href="/Contact" class="link">İletişim</a>
        </div>
        <div class="menu_icon">
            <span class="icon"></span>
        </div>
    </div>
</nav>

<section class="wrapper">

    <div class="container">

        <div id="scene" class="scene" data-hover-only="false">


            <div class="circle" data-depth="1.2"></div>

            <div class="one" data-depth="0.9">
                <div class="content">
                    <span class="piece"></span>
                    <span class="piece"></span>
                    <span class="piece"></span>
                </div>
            </div>

            <div class="two" data-depth="0.60">
                <div class="content">
                    <span class="piece"></span>
                    <span class="piece"></span>
                    <span class="piece"></span>
                </div>
            </div>

            <div class="three" data-depth="0.40">
                <div class="content">
                    <span class="piece"></span>
                    <span class="piece"></span>
                    <span class="piece"></span>
                </div>
            </div>

            <p class="p404" data-depth="0.50">404</p>
            <p class="p404" data-depth="0.10">404</p>

        </div>

        <div class="text">
            <article>
              
                <p>Ekip arkadaşımız galiba aramızdan ayrılmış :( <br>Ana sayfaya dönmek istermisin?</p>
                <a href="/">
                    <span>

                        <button>
                            Evet
                        </button>

                    </span>
                </a>
            </article>
        </div>

    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var scene = document.getElementById('scene');
            var parallax = new Parallax(scene);
        });
    </script>
    <script>
        // Bu kısım JavaScript kodlarınızı içerir
        document.addEventListener("DOMContentLoaded", function () {
            const menuIcon = document.querySelector(".menu_icon");
            const menuLinks = document.querySelector(".menu_links");

            menuIcon.addEventListener("click", function () {
                menuLinks.classList.toggle("show");
            });
        });
    </script>


</section>











