@model List<RecentBlogViewModel>

<aside class="single_sidebar_widget popular_post_widget">
    <h3 class="widget_title">Son Blog Yazıları</h3>
    <div class="media post_item">
        @foreach (var item in Model)
        {
            @if (item.ImageUrl==null)
            {
                <img src="~/Blog/img/post/post_1.png" alt="post">
            }
            @if (item.ImageUrl != null)
            {
                <img style="width:80px;height:80px;" src="~/Images/Blogs/@item.ImageUrl" alt="post">
            }
             <div class="media-body">
            <a href="/@item.SeoUrl">
                <h3>@item.Title...</h3>
            </a>
            <p>@item.CreatedDate</p>
        </div>

        }
        
       
    </div>
    
</aside>