
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="index,follow">
    <meta name="description"
          content="If you are accused of committing a crime, you will need the very best criminal defense attorneys.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    

    <title>Yapar - Hukuk Bürosu</title>
    <link rel="icon" href="~/Av. site Template/img/tab-logo.png">
</head>
<body>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
