
@{
    
    var model = ViewData["Model1"] as List<PracticeAreaDTO>; // Veya ViewBag.YourModel şeklinde alabilirsiniz
    var m2 = ViewBag.Model2;
} 

<!DOCTYPE html>
<html lang="en">

    @await Html.PartialAsync("/Views/LayoutPartial/_HeadPartial.cshtml")

<body>

    <!-- ------------------------------------------------------------- INFO BAR -----------------------------------------------------  -->
    <!-- ------------------------------------------------------------- MAIN NAVIGATION -----------------------------------------------------  -->
     @await Html.PartialAsync("/Views/LayoutPartial/_NavbarPartial.cshtml")
   @* @await Html.PartialAsync("/Views/Partial/NavbarPartial.cshtml",model)*@

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    @RenderBody()
   
    <!-- ----------------------------------------------------------------- FOOTER ---------------------------------------------------------------- -->
    
</body>
@await Component.InvokeAsync("_FooterPartial")

</html>



