
@{
    
    var model = ViewData["Model1"] as List<PracticeAreaDTO>; // Veya ViewBag.YourModel şeklinde alabilirsiniz
    var m2 = ViewBag.Model2;
} 

<!DOCTYPE html>
<html lang="en">

    @await Html.PartialAsync("/Views/LayoutPartial/_HeadPartial.cshtml")

<body>

    <!-- ------------------------------------------------------------- INFO BAR -----------------------------------------------------  -->
    <!-- ------------------------------------------------------------- MAIN NAVIGATION -----------------------------------------------------  -->
    @await Html.PartialAsync("/Views/Partial/NavbarPartial.cshtml",model)
   
   
    @RenderBody()
   
    <!-- ----------------------------------------------------------------- FOOTER ---------------------------------------------------------------- -->
    @await Html.PartialAsync("/Views/LayoutPartial/_FooterPartial.cshtml")
</body>

</html>



