@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
<head>
    <title>About Us</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="~/AboutContact/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic%7CLato:300,300italic,400,400italic,700,900%7CMerriweather:700italic">
    <link rel="stylesheet" href="~/css/fontsabout.css">
    <link rel="stylesheet" href="~/css/bootstrapabout.css">
    <link rel="stylesheet" href="~/css/styleabout.css">
    <link rel="stylesheet" href="~/judge-master/css/ionicons.min.css">
    
    <!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
        <![endif]-->
</head>
<body>

    <div class="page">
        <div class="responsive-image">
            <img src="images/banner/foreground-04-1600x60.png"
                 srcset="images/banner/foreground-04-1600x60.png 1x, images/banner/foreground-04-3200x120.png 2x"
                 alt="" width="1600" height="120">
        </div>
        <section class="section-30 section-md-40 section-lg-66 section-xl-bottom-90 bg-gray-dark page-title-wrap" style="background-image: url(/AboutContact/images/bg-image-1.jpg);">
            <div class="container">
                <div class="">
                    <h2>Hakkımızda</h2>
                    <p class="breadcrumbs"><span class="mr-2"><a href="/Default/Index">Ana Sayfa <i class="ion-ios-arrow-forward"></i></a></span> <span>Hakkımızda<i class="ion-ios-arrow-forward"></i></span></p>
                </div>
            </div>
        </section>

        <section class="section-66 section-md-90 section-xl-bottom-120">
            <div class="container">
                <h3>Biz Kimiz</h3>
                <div class="row row-40 justify-content-xl-between align-items-lg-center">
                    <div class="col-md-6 col-xl-5 text-secondary">
                        <div class="inset-md-right-15 inset-xl-right-0">
                            <p>
                                Kendimizi sadece 'avukatlar' olarak görmüyoruz, her zaman müşterilerimizin güvendiği danışmanı olmaya çalışacağız, bu bir ticari veya kişisel bağlamda olsun. Bir hukuk firmasından beklenenlerin çok ötesinde hizmetler sunuyoruz.
                            </p>
                            <p>
                                Temel değerlerimiz dürüstlük ve güven, yeniliğin teşvik edilmesi, takım çalışması ve firmadaki herkesin kişisel gelişiminin devamıdır.
                            </p>
                        </div>
                    </div>         
                    <div class="col-md-6">
                        <ul class="list-progress">
                            <li>
                                <p class="animated fadeIn">Trafik Kazaları</p>
                                <div class="progress-bar-js progress-bar-horizontal progress-bar-sisal" data-value="90" data-stroke="4" data-easing="linear" data-counter="true" data-duration="1000" data-trail="100"></div>
                            </li>
                            <li>
                                <p class="animated fadeIn">Sigorta Hukuku</p>
                                <div class="progress-bar-js progress-bar-horizontal progress-bar-laser" data-value="89" data-stroke="4" data-easing="linear" data-counter="true" data-duration="1000" data-trail="100"></div>
                            </li>
                            <li>
                                <p class="animated fadeIn">Ceza Hukuku</p>
                                <div class="progress-bar-js progress-bar-horizontal progress-bar-fuscous-gray" data-value="87" data-stroke="4" data-easing="linear" data-counter="true" data-duration="1000" data-trail="100"></div>
                            </li>
                            <li>
                                <p class="animated fadeIn">Yaralanma Davaları</p>
                                <div class="progress-bar-js progress-bar-horizontal progress-bar-leather" data-value="90" data-stroke="4" data-easing="linear" data-counter="true" data-duration="1000" data-trail="100"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-60 section-lg-90 bg-whisper">
            <div class="container">
                <div class="row row-40 align-items-sm-end">

                    @await Component.InvokeAsync("_TeamPartial")

                    <div class="col-sm-6 col-md-12 col-lg-3 text-center">
                        <div class="block-wrap-1">
                            <div class="block-number"></div>
                            <h3 class="text-normal">Alanlarında</h3>
                            <p class="h5 h5-smaller text-style-4">Uzman Profesyoneller</p>
                            <p>Eğer siz ya da işletmeniz hukuki bir sorunla karşı karşıyaysa, bir avukatla başlangıç danışması ayarlamak için bugün bizimle iletişime geçin.</p><a class="link link-group link-group-animated link-bold link-secondary" href="/Contact/Index"><span>İletişim</span><span class="novi-icon icon icon-xxs icon-primary fa fa-angle-right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section parallax-container bg-black" data-parallax-img="images/clients-testimonials-parallax-1.jpg">
            <div class="parallax-content">
                <div class="section-60 section-md-90 section-xl-120">
                    <div class="container text-center">
                        <div class="row row-40 justify-content-lg-center">
                            <div class="col-sm-12">
                                <h3>Hakkımızda Söylenenler</h3>
                            </div>
                            <div class="col-lg-11 col-xl-9">
                                <div class="owl-carousel-inverse">
                                    <div class="owl-carousel owl-nav-position-numbering" data-autoplay="true" data-items="1" data-stage-padding="0" data-loop="false" data-margin="30" data-nav="true" data-numbering="#owl-numbering-1" data-animation-in="fadeIn" data-animation-out="fadeOut">
                                        <div class="item">
                                            <blockquote class="quote-minimal quote-minimal-inverse">
                                                <div class="quote-body">
                                                    <p>
                                                        <q>Yapar Hukuk Bürosu ile olan deneyimimizden çok memnun kaldık. Gerçekten mahkemeye gitmesek de, Ertuğrul Bey'in bizi en iyi şekilde savunmaya hazır olduğunu hissettik. Tüm çalışanlarla yaşadığımız deneyim çok güzel ve keyifliydi. Çalışmanız için teşekkür ederim!</q>
                                                    </p>
                                                </div>
                                                <div class="quote-meta">
                                                    <cite>Ahmet ÖK</cite>
                                                    <p class="caption">Müşteri</p>
                                                </div>
                                            </blockquote>
                                        </div>
                                        <div class="item">
                                            <blockquote class="quote-minimal quote-minimal-inverse">
                                                <div class="quote-body">
                                                    <p>
                                                        <q>Yapar Hukuk Bürosunu seçtiğim için çok memnunum. Çok kötü bir motosiklet kazası geçirdik. Biz aile gibi karşılandık ve her adımda dahil edildik. Davamla ilgilenen herkese teşekkür ederim!</q>
                                                    </p>
                                                </div>
                                                <div class="quote-meta">
                                                    <cite>Deniz Yılmaz</cite>
                                                    <p class="caption">Müşteri</p>
                                                </div>
                                            </blockquote>
                                        </div>
                                        <div class="item">
                                            <blockquote class="quote-minimal quote-minimal-inverse">
                                                <div class="quote-body">
                                                    <p>
                                                        <q>Ertuğrul Bey ve ekibi, bizi süreç boyunca rahat hissettirmek konusunda harikaydı. Vakamızın ilerleyişi hakkında bizi güncel tuttular ve tamamlamamız gereken tüm belgeler konusunda çok yardımcı oldular. Her şeyin sonucundan çok memnunuz.</q>
                                                    </p>
                                                </div>
                                                <div class="quote-meta">
                                                    <cite>Ali Ertürk</cite>
                                                    <p class="caption">Müşteri</p>
                                                </div>
                                            </blockquote>
                                        </div>
                                    </div>
                                    <div class="owl-numbering owl-numbering-default" id="owl-numbering-1">
                                        <div class="numbering-current"></div>
                                        <div class="numbering-separator"></div>
                                        <div class="numbering-count"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="bg-whisper">
            <div class="container">
                <div class="row align-items-lg-end">
                    <div class="offset-md-1 offset-lg-0 col-md-8 col-lg-6 col-xl-5">
                        <div class="section-60 section-md-90">
                            <div class="inset-md-left-100">
                                <h3>Neden Bizi Şeçmelisiniz</h3>
                            </div>
                            <div class="inset-md-left-30 inset-md-right-30">
                                <ul class="list-xl">
                                    <li>
                                        <article class="icon-box-horizontal">
                                            <div class="unit unit-horizontal unit-spacing-md">
                                                <div class="unit-left"><span class="novi-icon icon icon-primary icon-lg mercury-icon-users"></span></div>
                                                <div class="unit-body">
                                                    <h5><a href="#">İnaçlarımız</a></h5>
                                                    <p>Firmamız bir aile gibidir. Her dava birinin hayatıdır ve buna gerçekten böyle davranmamız gerektiğine inanıyoruz.</p>
                                                </div>
                                            </div>
                                        </article>

                                    </li>
                                    <li>
                                        <article class="icon-box-horizontal">
                                            <div class="unit unit-horizontal unit-spacing-md">
                                                <div class="unit-left"><span class="novi-icon icon icon-primary icon-lg mercury-icon-lib"></span></div>
                                                <div class="unit-body">
                                                    <h5><a href="#">Zengin Deneyim</a></h5>
                                                    <p>Deneyim işi halleder. Uzun yıllardır hukuki uygulama deneyimine sahibiz.</p>
                                                </div>
                                            </div>
                                        </article>

                                    </li>
                                    <li>
                                        <article class="icon-box-horizontal">
                                            <div class="unit unit-horizontal unit-spacing-md">
                                                <div class="unit-left"><span class="novi-icon icon icon-primary icon-lg mercury-icon-briefcase"></span></div>
                                                <div class="unit-body">
                                                    <h5><a href="#">Harika Sonuçlar</a></h5>
                                                    <p>Sonuçlar, hayatınıza fark yarattığımızda başarılı olur. Size para ve faydaları almanız konusunda yardımcı olacağız.</p>
                                                </div>
                                            </div>
                                        </article>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9 col-lg-6 col-xl-7 offset-top-30 offset-md-top-0 d-none d-lg-block">
                        <div class="image-wrap-1">
                            <img src="images/about-1-670x578.png" alt="" width="670" height="578" />
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="~/AboutContact/js/core.min.js"></script>
    <script src="~/AboutContact/js/script.js"></script>
   
</body>
</html>