@using Entities.Concrete
@model HomeText
<style>
    a {
        color:#2e3336;
        text-decoration: none;
        
    }
</style>

<header class="header" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url('/Images/UIHomePage/@Model.BackroundImage')">

    <div  class="wrapper">

        <div class="header__container">

            <div class="header__text-box">

                <h1 style="font-size: 37px;" >@Model.Title</h1>

                <p>
                   @Model.Body
                </p>

              

            </div>

        </div>

    </div>

</header>