@using Entities.Concrete
@model HomeText
<header class="header">

    <div class="wrapper">

        <div class="header__container">

            <div class="header__text-box">

                <h1 style="font-size: 37px;" >@Model.Title</h1>

                <p>
                   @Model.Body
                </p>

               @* <div class="header__ceo-box">

                    <img src="~/Av. site Template/img/image-slider.png" alt="CEO ">

                    <div>

                        <span> Ertuğrul YAPAR </span>

                        <h4>CEO & FOUNDER  </h4>

                    </div>

                </div>*@

            </div>

        </div>

    </div>

</header>