@model List<PracticeArea>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}
<head>
   

    <link rel="stylesheet" href="~/judge-master/css/animate.css">
    <link rel="stylesheet" href="~/judge-master/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/judge-master/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/judge-master/css/magnific-popup.css">
    <link rel="stylesheet" href="~/judge-master/css/aos.css">
    <link rel="stylesheet" href="~/judge-master/css/ionicons.min.css">
    <link rel="stylesheet" href="~/judge-master/css/flaticon.css">
    <link rel="stylesheet" href="~/judge-master/css/icomoon.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>

<body>

    <section class="hero-wrap hero-wrap-2" style="background-image: url('/judge-master/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end justify-content-center">
                <div class="col-md-9 ftco-animate pb-5 text-center">
                    <h1 class="mb-3 bread">Çalışma Alanlarımız</h1>
                    <p class="breadcrumbs"><span class="mr-2"><a href="/Default/Index">Ana Sayfa <i class="ion-ios-arrow-forward"></i></a></span> <span>Çalışma Alanlarımız<i class="ion-ios-arrow-forward"></i></span></p>
                </div>
            </div>
        </div>
    </section>


    <section class="services">
        <div class="wrapper">
           <br />
           <br />

            <div class="services__container">

                @foreach (var service in Model)
                {
                    <a href="/@service.SeoUrl" class="service__box box-2 " style="background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('/Images/PracticeArea/@service.BackgroundImage')">

                        <img style="height:54px;width:54px; " src="@service.LogoImage" alt="Hizmet İkonu">

                        <div>
                            <p style="color:whitesmoke"> @service.Description</p>
                            <h3 style="color:whitesmoke">@service.Name</h3>
                        </div>

                    </a>
                }
            </div>
        </div>
    </section>

  @*  <section class="ftco-section ftco-degree-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 order-md-last ftco-animate">
                    <p>
                        <img src="images/practice-1.jpg" alt="" class="img-fluid">
                    </p>


                    <!--içerik burada olacak-->

                    <p>
                        Hoş Geldiniz! Ertuğrul Hukuk Bürosu olarak, Bursa ve çevresindeki müvekkillerimize geniş bir hukuk hizmet yelpazesi sunmaktan gurur duyuyoruz. Hukuk dünyasındaki karmaşık sorunları anlamak ve çözümlemek konusundaki uzmanlığımızı, sizin için çalışmaya hazırız.

                        Hukuk, her gün hayatımızın bir parçasıdır. İşte bu nedenle Ertuğrul Hukuk Bürosu, farklı alanlarda hukuki yardım sunar ve sizi yönlendirmek için buradadır. İş kazaları, trafik kazaları, aile hukuku, iş hukuku, ceza hukuku, sigorta hukuku, taşınmaz hukuk ve daha fazlası gibi konularda size yardımcı olabiliriz.

                        İş yerinde yaşadığınız sıkıntıları, trafik kazalarından kaynaklanan maddi ve manevi zararları, aile hukuku konularındaki anlaşmazlıkları veya işinizle ilgili herhangi bir hukuki sorunu ele almak istediğinizde, Ertuğrul Hukuk Bürosu size yol gösterecektir. Sizlere, en iyi sonuçları elde etmek için yasal hakkınızı savunmak konusunda yardımcı olmak için buradayız.

                        Müvekkillerimizin haklarını korumak ve adaleti sağlamak için çalışırken, her durumda müvekkil odaklı bir yaklaşım benimsiyoruz. Size uygun çözümler sunmak için hukuki bilgi ve deneyimimizi kullanıyoruz.

                        Bizimle çalışarak, hukuki sorunlarınıza çözüm bulmak ve haklarınızı korumak için güvendiğiniz bir ortak bulmuş olacaksınız. İşte size hizmet vermek için buradayız.

                        Daha fazla bilgi edinmek ve hukuki yardım almak için lütfen [İletişim Bilgileri] üzerinden bize ulaşın.
                    </p>




                </div> <!-- .col-md-8 -->
                <div class="col-lg-4 sidebar ftco-animate">
                   

                    @await Component.InvokeAsync("_PracticeAreaPartial")

                    <div class="sidebar-box ftco-animate">
                        <h3>Son Blog Yazıları</h3>

                        @await Component.InvokeAsync("_RecentBlogForPracticeAreasPartial")

                    </div>

                </div>

            </div>
        </div>
    </section> <!-- .section -->*@
    <!-- loader -->
    @*<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>
*@

    <script src="~/judge-master/js/jquery.min.js"></script>
    <script src="~/judge-master/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/judge-master/js/popper.min.js"></script>

    <script src="~/judge-master/js/jquery.easing.1.3.js"></script>
    <script src="~/judge-master/js/jquery.waypoints.min.js"></script>
    <script src="~/judge-master/js/jquery.stellar.min.js"></script>
    <script src="~/judge-master/js/owl.carousel.min.js"></script>
    <script src="~/judge-master/js/jquery.magnific-popup.min.js"></script>
    <script src="~/judge-master/js/aos.js"></script>
    <script src="~/judge-master/js/jquery.animateNumber.min.js"></script>
    <script src="~/judge-master/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/judge-master/js/google-map.js"></script>
    <script src="~/judge-master/js/main.js"></script>

</body>
