@model Section
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}
<head>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/judge-master/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/judge-master/css/animate.css">

    <link rel="stylesheet" href="~/judge-master/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/judge-master/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/judge-master/css/magnific-popup.css">

    <link rel="stylesheet" href="~/judge-master/css/aos.css">

    <link rel="stylesheet" href="~/judge-master/css/ionicons.min.css">

    <link rel="stylesheet" href="~/judge-master/css/flaticon.css">
    <link rel="stylesheet" href="~/judge-master/css/icomoon.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>

<body>

    <section class="hero-wrap hero-wrap-2" style="background-image: url('/judge-master/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end justify-content-center">
                <div class="col-md-9 ftco-animate pb-5 text-center">
                    <h1 class="mb-3 bread">Çalışma Alanlarımız</h1>
                    <p class="breadcrumbs"><span class="mr-2"><a href="/Default/Index">Ana Sayfa <i class="ion-ios-arrow-forward"></i></a></span> <span>Çalışma Alanlarımız<i class="ion-ios-arrow-forward"></i></span></p>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-degree-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 order-md-last ftco-animate">
                    <p>
                        <img src="images/practice-1.jpg" alt="" class="img-fluid">
                    </p>
                    

                  <!--içerik burada olacak-->
                   
                    <p>
                        Hoş Geldiniz! Ertuğrul Hukuk Bürosu olarak, Bursa ve çevresindeki müvekkillerimize geniş bir hukuk hizmet yelpazesi sunmaktan gurur duyuyoruz. Hukuk dünyasındaki karmaşık sorunları anlamak ve çözümlemek konusundaki uzmanlığımızı, sizin için çalışmaya hazırız.

                        Hukuk, her gün hayatımızın bir parçasıdır. İşte bu nedenle Ertuğrul Hukuk Bürosu, farklı alanlarda hukuki yardım sunar ve sizi yönlendirmek için buradadır. İş kazaları, trafik kazaları, aile hukuku, iş hukuku, ceza hukuku, sigorta hukuku, taşınmaz hukuk ve daha fazlası gibi konularda size yardımcı olabiliriz.

                        İş yerinde yaşadığınız sıkıntıları, trafik kazalarından kaynaklanan maddi ve manevi zararları, aile hukuku konularındaki anlaşmazlıkları veya işinizle ilgili herhangi bir hukuki sorunu ele almak istediğinizde, Ertuğrul Hukuk Bürosu size yol gösterecektir. Sizlere, en iyi sonuçları elde etmek için yasal hakkınızı savunmak konusunda yardımcı olmak için buradayız.

                        Müvekkillerimizin haklarını korumak ve adaleti sağlamak için çalışırken, her durumda müvekkil odaklı bir yaklaşım benimsiyoruz. Size uygun çözümler sunmak için hukuki bilgi ve deneyimimizi kullanıyoruz.

                        Bizimle çalışarak, hukuki sorunlarınıza çözüm bulmak ve haklarınızı korumak için güvendiğiniz bir ortak bulmuş olacaksınız. İşte size hizmet vermek için buradayız.

                        Daha fazla bilgi edinmek ve hukuki yardım almak için lütfen [İletişim Bilgileri] üzerinden bize ulaşın.
                    </p>




                </div> <!-- .col-md-8 -->
                <div class="col-lg-4 sidebar ftco-animate">
                    <div class="sidebar-box">
                        <form action="#" class="search-form">
                            <div class="form-group">
                                <span class="icon icon-search"></span>
                                <input type="text" class="form-control" placeholder="Type a keyword and hit enter">
                            </div>
                        </form>
                    </div>                  

                        @await Component.InvokeAsync("_PracticeAreaPartial")

                    <div class="sidebar-box ftco-animate">
                        <h3>Recent Blog</h3>
                        <div class="block-21 mb-4 d-flex">
                            <a class="blog-img mr-4" style="background-image: url(/judge-master/images/image_1.jpg);"></a>
                            <div class="text">
                                <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                                <div class="meta">
                                    <div><a href="#"><span class="icon-calendar"></span> August 17, 2019</a></div>
                                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="block-21 mb-4 d-flex">
                            <a class="blog-img mr-4" style="background-image: url(/judge-master/images/image_2.jpg);"></a>
                            <div class="text">
                                <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                                <div class="meta">
                                    <div><a href="#"><span class="icon-calendar"></span> August 17, 2019</a></div>
                                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="block-21 mb-4 d-flex">
                            <a class="blog-img mr-4" style="background-image: url(/judge-master/images/image_3.jpg);"></a>
                            <div class="text">
                                <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                                <div class="meta">
                                    <div><a href="#"><span class="icon-calendar"></span> August 17, 2019</a></div>
                                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="sidebar-box ftco-animate">
                        <h3>Tag Cloud</h3>
                        <div class="tagcloud">
                            <a href="#" class="tag-cloud-link">dish</a>
                            <a href="#" class="tag-cloud-link">menu</a>
                            <a href="#" class="tag-cloud-link">food</a>
                            <a href="#" class="tag-cloud-link">sweet</a>
                            <a href="#" class="tag-cloud-link">tasty</a>
                            <a href="#" class="tag-cloud-link">delicious</a>
                            <a href="#" class="tag-cloud-link">desserts</a>
                            <a href="#" class="tag-cloud-link">drinks</a>
                        </div>
                    </div>

                    <div class="sidebar-box ftco-animate">
                        <h3>Paragraph</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
                    </div>
                </div>

            </div>
        </div>
    </section> <!-- .section -->

   
 



    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>


    <script src="~/judge-master/js/jquery.min.js"></script>
    <script src="~/judge-master/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/judge-master/js/popper.min.js"></script>
    <script src="~/judge-master/js/bootstrap.min.js"></script>
    <script src="~/judge-master/js/jquery.easing.1.3.js"></script>
    <script src="~/judge-master/js/jquery.waypoints.min.js"></script>
    <script src="~/judge-master/js/jquery.stellar.min.js"></script>
    <script src="~/judge-master/js/owl.carousel.min.js"></script>
    <script src="~/judge-master/js/jquery.magnific-popup.min.js"></script>
    <script src="~/judge-master/js/aos.js"></script>
    <script src="~/judge-master/js/jquery.animateNumber.min.js"></script>
    <script src="~/judge-master/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/judge-master/js/google-map.js"></script>
    <script src="~/judge-master/js/main.js"></script>

</body>
