@model List<PracticeArea>
@{
    
    Layout = "~/Views/Shared/_UILayout.cshtml";
}
<head>
   

    <link rel="stylesheet" href="~/judge-master/css/animate.css">
    <link rel="stylesheet" href="~/judge-master/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/judge-master/css/owl.theme.default.min.css">
    
    <link rel="stylesheet" href="~/judge-master/css/aos.css">
    <link rel="stylesheet" href="~/judge-master/css/ionicons.min.css">
    <link rel="stylesheet" href="~/judge-master/css/flaticon.css">
    <link rel="stylesheet" href="~/judge-master/css/icomoon.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>

<body>

    <section class="hero-wrap hero-wrap-2" style="background-image: url('/judge-master/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end justify-content-center">
                <div class="col-md-9 ftco-animate pb-5 text-center">
                    <h1 class="mb-3 bread">Çalışma Alanlarımız</h1>
                    <p class="breadcrumbs"><span class="mr-2"><a href="/">Ana Sayfa <i class="ion-ios-arrow-forward"></i></a></span> <span>Çalışma Alanlarımız<i class="ion-ios-arrow-forward"></i></span></p>
                </div>
            </div>
        </div>
    </section>


    <section class="services">
        <div class="wrapper">
           <br />
           <br />

            <div class="services__container">

                @foreach (var service in Model)
                {
                    <a href="/@service.SeoUrl" class="service__box box-2 " style="background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('/Images/PracticeArea/@service.BackgroundImage')">

                        <img style="height:54px;width:54px; " src="@service.LogoImage" alt="Hizmet İkonu">

                        <div>
                            <p style="color:whitesmoke"> @service.Description</p>
                            <h3 style="color:whitesmoke">@service.Name</h3>
                        </div>

                    </a>
                }
            </div>
        </div>
    </section>


    <script src="~/judge-master/js/jquery.min.js"></script>
    <script src="~/judge-master/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/judge-master/js/popper.min.js"></script>

    <script src="~/judge-master/js/jquery.easing.1.3.js"></script>
    <script src="~/judge-master/js/jquery.waypoints.min.js"></script>
    <script src="~/judge-master/js/jquery.stellar.min.js"></script>
    <script src="~/judge-master/js/owl.carousel.min.js"></script>
    <script src="~/judge-master/js/jquery.magnific-popup.min.js"></script>
    <script src="~/judge-master/js/aos.js"></script>
    <script src="~/judge-master/js/jquery.animateNumber.min.js"></script>
    <script src="~/judge-master/js/scrollax.min.js"></script>
   
    
    <script src="~/judge-master/js/main.js"></script>

</body>
