@model PracticeArea
@{
    ViewData["Title"] = Model.Name;
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<head>



    <link rel="stylesheet" href="~/judge-master/css/animate.css">

    <link rel="stylesheet" href="~/judge-master/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/judge-master/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/judge-master/css/magnific-popup.css">

    <link rel="stylesheet" href="~/judge-master/css/aos.css">

    <link rel="stylesheet" href="~/judge-master/css/ionicons.min.css">

    <link rel="stylesheet" href="~/judge-master/css/flaticon.css">
    <link rel="stylesheet" href="~/judge-master/css/icomoon.css">
    <link rel="stylesheet" href="~/css/style.css">

    <style>
        .link-container a {
            text-decoration: underline;
            color:coral;
        }
    </style>
</head>

<body>

    <section class="hero-wrap hero-wrap-2" style="background-image: url('/Images/PracticeArea/@Model.Image');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end justify-content-center">
                <div class="col-md-9 ftco-animate pb-5 text-center">
                    <h1 class="mb-3 bread">@Model.Name</h1>
                    <p class="breadcrumbs"><span class="mr-2"><a href="/">Anasayfa <i class="ion-ios-arrow-forward"></i></a></span> <span>@Model.Name<i class="ion-ios-arrow-forward"></i></span></p>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-degree-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 order-md-last ftco-animate">
                    <p>
                        <img src="images/practice-1.jpg" alt="" class="img-fluid">
                    </p>
                    <div class="link-container">
                        @Html.Raw(@Model.Content)
                    </div>

                </div> <!-- .col-md-8 -->
                <div class="col-lg-4 sidebar ftco-animate">

                    @await Component.InvokeAsync("_PracticeAreaPartial")


                    <div class="sidebar-box ftco-animate">
                        <h3>Son Blog Yazıları</h3>

                        @await Component.InvokeAsync("_RecentBlogForPracticeAreasPartial")
                       
                    </div>

                </div>

            </div>
        </div>
    </section> <!-- .section -->
    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>


    <script src="~/judge-master/js/jquery.min.js"></script>
    <script src="~/judge-master/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/judge-master/js/popper.min.js"></script>

    <script src="~/judge-master/js/jquery.easing.1.3.js"></script>
    <script src="~/judge-master/js/jquery.waypoints.min.js"></script>
    <script src="~/judge-master/js/jquery.stellar.min.js"></script>
    <script src="~/judge-master/js/owl.carousel.min.js"></script>
    <script src="~/judge-master/js/jquery.magnific-popup.min.js"></script>
    <script src="~/judge-master/js/aos.js"></script>
    <script src="~/judge-master/js/jquery.animateNumber.min.js"></script>
    <script src="~/judge-master/js/scrollax.min.js"></script>
  
    <script src="~/judge-master/js/main.js"></script>

</body>

