
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}



    <!-- ---------------------------------------------------------------- FEATURES ------------------------------------------------------------  -->
@await Component.InvokeAsync("_FeaturePartial")

    <!-- --------------------------------------------------------------- ABOUT --------------------------------------------------------------  -->

    <section class="about">

        <div class="wrapper">

            <div class="about__container">

                <div class="about__container-imagebox">
                    <img src="~/Av. site Template/img/about.png" alt="About Photo">
                </div>

                <div class="about__container-textbox">

                    <h2>Mükemmel Hukuki Yetenekler ve Deneyimli Avukatlar Size Hizmet Veriyor.</h2>

                    <p>
                        Avukatlarımız, müşterilere dünya çapında çeşitli entegre yetenekler sunmaktadır.
                        Bu yetenekler arasında en aktif M&A, gayrimenkul, finansal hizmetler, riskli dava
                        ve kurumsal risk uygulamaları bulunmaktadır.
                    </p>

                    <ul>
                        <li>&#9673; Şirket ve Endüstri Araştırması</li>
                        <li>&#9673; Makale ve Haber Araştırması</li>
                        <li>&#9673; Endüstri Araştırması ve Pazar Araştırması</li>
                    </ul>

                    <i>
                        " Eğer bir suçla suçlanıyorsanız, en iyi ceza avukatlarına ihtiyacınız olacak. "
                    </i>

                    <div class="header__ceo-box">

                        <img src="~/Av. site Template/img/image-slider.png" alt="CEO OF ATTORNAY LAW">

                        <div>

                            <span>Ertuğrul YAPAR</span>

                            <h4>CHAIRMAN OF ATTORNA</h4>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </section>



    <!-- ------------------------------------------------------------ SERVICES ---------------------------------------------------------------  -->

    <section class="services">

        <div class="wrapper">

            <span>Uygulama Alanı</span>
            <h2>Sunduğumuz Hizmetler.</h2>

            <div class="services__container">

                <div class="service__box box-1">

                    <img src="~/Av. site Template/img/service-icon1.png" alt="Hizmet İkonu">

                    <div>
                        <p>Kişisel</p>
                        <h3>Aile Hukuku</h3>
                    </div>

                </div>

                <div class="service__box box-2">

                    <img src="~/Av. site Template/img/service-icon-2.png" alt="Hizmet İkonu">

                    <div>
                        <p>İş</p>
                        <h3>İş Hukuku</h3>
                    </div>

                </div>

                <div class="service__box box-3">

                    <img src="~/Av. site Template/img/service-icon-3.png" alt="Hizmet İkonu">

                    <div>
                        <p>Ceza</p>
                        <h3>Ceza Hukuku</h3>
                    </div>

                </div>

                <div class="service__box box-4">

                    <img src="~/Av. site Template/img/service-icon-4.png" alt="Hizmet İkonu">

                    <div>
                        <p>Kişisel</p>
                        <h3>Trafik Kazaları</h3>
                    </div>

                </div>

                <div class="service__box box-5">

                    <img src="~/Av. site Template/img/service-icon-5.png" alt="Hizmet İkonu">

                    <div>
                        <p>Adalet</p>
                        <h3>Yaralanma Davaları</h3>
                    </div>

                </div>

                <div class="service__box box-6">

                    <img src="~/Av. site Template/img/service-icon-6.png" alt="Hizmet İkonu">

                    <div>
                        <p>İş</p>
                        <h3>Finans Hukuku</h3>
                    </div>

                </div>

            </div>

        </div>

    </section>

    <!-- ---------------------------------------------------------- EXPERIENCE -------------------------------------------------------------  -->

    <section class="experience">

        <div class="wrapper">

            <div class="experience__container">

                <div class="experience__textbox">

                    <h3>25 Yıllık Tecrübeye Sahip En İyi Avukatlarız</h3>
                    <p>
                        Avukatlarımız müşterilere, kurumsal risk uygulamaları da dahil olmak üzere çeşitli entegre global yetenekler sunmaktadır.
                    </p>

                </div>

                <div class="experience__boxes">

                    <div class="experience-box">
                        <img src="~/Av. site Template/img/fun1.png" alt="Deneyim Resmi">
                        <div>
                            <h3>Başarılı Dava Örneklerimiz</h3>
                        </div>
                    </div>

                    <div class="experience-box">
                        <img src="./img/fun2.png" alt="Deneyim Resmi">
                        <div>
                            <h3>Profesyonel Avukatlar</h3>
                        </div>
                    </div>

                    <div class="experience-box">
                        <img src="~/Av. site Template/img/fun3.png" alt="Deneyim Resmi">
                        <div>
                            <h3>Uzun Süreli Deneyime Sahip Avukatlar</h3>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </section>


    <!-- --------------------------------------------------------------- TEAM ------------------------------------------------------------------  -->

    <section class="team">

        <!-- ---------------- Sıralamalar -----------------  -->

        <div class="wrapper">

            <section class="rankings">

                <div class="rankings__container">

                    <div class="ranking__box">
                        <span>
                            <h3 class="num" data-val="46"></h3>
                            <p>+</p>
                        </span>
                        <h4>Uzman Avukatlar</h4>
                    </div>

                    <div class="ranking__box">
                        <span>
                            <h3 class="num" data-val="890"></h3>
                            <p>+</p>
                        </span>
                        <h4>Davalar Düşürüldü</h4>
                    </div>

                    <div class="ranking__box">
                        <span>
                            <h3 class="num" data-val="956"></h3>
                            <p>+</p>
                        </span>
                        <h4>Kazanılan Davalar</h4>
                    </div>

                    <div class="ranking__box">
                        <span>
                            <h3 class="num" data-val="251"></h3>
                            <p>+</p>
                        </span>
                        <h4>Dünya Genelinde Ofisler</h4>
                    </div>

                </div>

            </section>

        </div>

        <div class="wrapper">

            <div class="team__textbox">

                <span>Takımımızla Tanışın</span>
                <h2>Sizi Tanımaktan Memnuniyet Duyarız.</h2>

            </div>

            <div class="team__container">

                <div class="team__box">

                    <img src="~/Av. site Template/img/team-1.jpg" alt="Takım Üyesi">

                    <div>
                        <h5>Teresa Perkins</h5>
                        <span>Takım Yöneticisi</span>
                    </div>

                </div>

                <div class="team__box">

                    <img src="~/Av. site Template/img/team-2.jpg" alt="Takım Üyesi">

                    <div>
                        <h5>Michel Anderson</h5>
                        <span>Yönetici</span>
                    </div>

                </div>

                <div class="team__box">

                    <img src="~/Av. site Template/img/team-3.jpg" alt="Takım Üyesi">

                    <div>
                        <h5>Sarah Barrett</h5>
                        <span>Pazarlama Direktörü</span>
                    </div>

                </div>

            </div>

        </div>

    </section>


    <!-- --------------------------------------------------------------- SPONSORS ------------------------------------------------------------- -->

    <section class="sponsors">

        <div class="wrapper">

            <div class="sponsors__container swiper mySwiper">

                <div class="sponsors__boxes swiper-wrapper">

                    <div class="sponsor__box swiper-slide">
                        <img src="~/Av. site Template/img/brand-1.png" alt="">
                    </div>

                    <div class="sponsor__box swiper-slide">
                        <img src="~/Av. site Template/img/brand-2.png" alt="">
                    </div>

                    <div class="sponsor__box swiper-slide">
                        <img src="~/Av. site Template/img/brand-3.png" alt="">
                    </div>

                    <div class="sponsor__box swiper-slide">
                        <img src="~/Av. site Template/img/brand-5-1.png" alt="">
                    </div>

                    <div class="sponsor__box swiper-slide">
                        <img src="~/Av. site Template/img/brand-4.png" alt="">
                    </div>

                </div>

                <!-- <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div> -->

            </div>

            <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

            <!-- Swiper'ı Başlat -->

            <script>

                var swiper = new Swiper(".mySwiper", {
                    slidesPerView: 5,
                    spaceBetween: 10,
                    slidesPerGroup: 1,
                    loop: true,
                    loopFillGroupWithBlank: true,
                    pagination: {
                        el: ".swiper-pagination",
                        clickable: true
                    },
                    navigation: {
                        nextEl: ".swiper-button-next",
                        prevEl: ".swiper-button-prev"
                    }
                });

            </script>

        </div>

    </section>


    <!-- ----------------------------------------------------------------- OFFERS ----------------------------------------------------------------- -->

    <section class="offers">

        <div class="wrapper">

            <div class="offers__container">

                <div class="offers__container-textbox">

                    <h2>Aile Hukukunun Tüm Alanlarında Uzmanız</h2>

                    <p class="offers__p-text">
                        Avukatlarımız, müşterilere entegre küresel yetenekler sunar, bunlar arasında dava ve kurumsal
                        risk uygulamaları yer alır.
                    </p>

                    <div>

                        <img src="~/Av. site Template/img/k1.png" alt="Logo">

                        <span>

                            <h3>Genel Müteahhitlik</h3>
                            <p>
                                Sizin kullanımınıza uygun bir sistem tasarlamak ve sunmak için işbirliği yaparız.
                            </p>

                        </span>

                    </div>

                    <div>

                        <img src="~/Av. site Template/img/k1.png" alt="Logo">

                        <span>

                            <h3>Genel Müteahhitlik</h3>
                            <p>
                                Sizin kullanımınıza uygun bir sistem tasarlamak ve sunmak için işbirliği yaparız.
                            </p>

                        </span>

                    </div>

                    <div class="offers__box">

                        <img src="~/Av. site Template/img/image-slider.png" alt="Ceo Fotoğrafı">

                        <span>
                            <h4> Rebecca Stevens </h4>
                            <small> ATTORNA BAŞKANI </small>
                        </span>

                    </div>

                </div>

                <div class="offers__container-imagebox">
                    <img src="~/Av. site Template/img/fe-1.jpg" alt="Teklifler Görseli">
                </div>

            </div>

        </div>

    </section>


    <!-- ----------------------------------------------------------------- CONTACT ---------------------------------------------------------------- -->

    <section class="contact">

        <div class="wrapper">

            <i class="fa-solid fa-phone contact__icon"></i>

            <h1>Çeşitli Davalarda 20 Yıllık Deneyim</h1>

            <h3>7/24 ÜCRETSİZ DANIŞMANLIK RANDEVUSU ALIN</h3>

            <p>01354-066 457</p>

            <div class="contact__container">

                <form action="#" class="contact__form">

                    <span>İletişim Bilgilerimiz</span>

                    <h2>Ücretsiz Davalı Değerlendirmesi Alın</h2>

                    <div class="form__container">

                        <div class="form__input-half">
                            <input type="text" name="username" id="username" placeholder="Adınızı Girin*">
                        </div>

                        <div class="form__input-half">
                            <input type="text" name="phone-number" id="phone-number"
                                   placeholder="Telefon Numaranızı Girin*">
                        </div>

                        <div class="form__input-half">
                            <input type="email" name="email" id="email" placeholder="E-posta Adresinizi Girin*">
                        </div>

                        <select class="form__select" name="subject" id="subject">
                            <option value="USA">Konunuzu Seçin*</option>
                            <option value="Aile Hukuku">Aile Hukuku</option>
                            <option value="Adli Hukuk">Adli Hukuk</option>
                            <option value="İş Hukuku">İş Hukuku</option>
                            <option value="Ceza Hukuku">Ceza Hukuku</option>
                            <option value="Ticaret Hukuku">Ticaret Hukuku</option>
                        </select>

                        <div class="form__textarea">
                            <textarea name="" id="message" rows="5" placeholder="Mesajınızı Girin*"></textarea>
                        </div>

                        <div class="form__button">
                            <a href="#"> Mesaj Gönder</a>
                        </div>

                    </div>

                </form>

            </div>

        </div>

    </section>


    <!-- ----------------------------------------------------------------  CALL  ----------------------------------------------------------------  -->

    <section class="call">

        <div class="wrapper">

            <div class="call__container">
            </div>

            <div class="call__container-textbox">
            </div>

        </div>

        </div>

    </section>


   


