@using Entities.Concrete
@model List<PracticeArea>
<section class="services">
    <div class="wrapper">
        <span>Uygulama Alanı</span>
        <h2>Sunduğumuz Hizmetler</h2>

        <div class="services__container">

            @foreach (var service in Model)
            {
                <a href="@Url.Action("PracticeAreas", "PracticeArea", new { id = service.Id })" class="service__box box-2 " style="background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('/Images/PracticeArea/@service.BackgroundImage')">

                    <img style="height:54px;width:54px; " src="@service.LogoImage" alt="Hizmet İkonu">

                    <div>
                        <p style="color:whitesmoke"> @service.Description</p>
                        <h3 style="color:whitesmoke">@service.Name</h3>
                    </div>

                </a>
            }
        </div>
    </div>
</section>
