@using Entities.Concrete
@model Tuple<Contact,List<PracticeArea>>
<section class="contact">

    <div class="wrapper">

        <i class="fa-solid fa-phone contact__icon"></i>

        <h1>@Model.Item1.Title</h1>

        <h3>@Model.Item1.Title2</h3>

        
        <a href="tel:@Model.Item1.PhoneNumber" style="color:white;font-size:25px "  >@Model.Item1.PhoneNumber</a>

    </div>
    @await Html.PartialAsync("~/Views/Messages/AddMessage.cshtml",Model.Item2)

</section>