<section class="features">

    <div class="wrapper">

        <div class="features__container">

            <div class="feature__box">
                <img src="~/Av. site Template/img/call-1.png" alt="Call-one">
                <a href="#">Ücretsiz dava raporu</a>
            </div>

            <div class="feature__box">
                <img src="~/Av. site Template/img/call-2.png" alt="Call-one">
                <a href="#">Dava Düşürüldü</a>
            </div>

            <div class="feature__box">
                <img src="~/Av. site Template/img/call-3.png" alt="Call-one">
                <a href="#">Mahkeme Performansı</a>
            </div>

        </div>

    </div>

</section>