<section class="offers">

    <div class="wrapper">

        <div class="offers__container">

            <div class="offers__container-textbox">

                <h2>Aile Hukukunun Tüm Alanlarında Uzmanız</h2>

                <p class="offers__p-text">
                    Avukatlarımız, müşterilere entegre küresel yetenekler sunar, bunlar arasında dava ve kurumsal
                    risk uygulamaları yer alır.
                </p>

                <div>

                    <img src="~/Av. site Template/img/k1.png" alt="Logo">

                    <span>

                        <h3>Genel Müteahhitlik</h3>
                        <p>
                            Sizin kullanımınıza uygun bir sistem tasarlamak ve sunmak için işbirliği yaparız.
                        </p>

                    </span>

                </div>

                <div>

                    <img src="~/Av. site Template/img/k1.png" alt="Logo">

                    <span>

                        <h3>Genel Müteahhitlik</h3>
                        <p>
                            Sizin kullanımınıza uygun bir sistem tasarlamak ve sunmak için işbirliği yaparız.
                        </p>

                    </span>

                </div>

                <div class="offers__box">

                    <img src="~/Av. site Template/img/image-slider.png" alt="Ceo Fotoğrafı">

                    <span>
                        <h4> Rebecca Stevens </h4>
                        <small> ATTORNA BAŞKANI </small>
                    </span>

                </div>

            </div>

            <div class="offers__container-imagebox">
                <img src="~/Av. site Template/img/fe-1.jpg" alt="Teklifler Görseli">
            </div>

        </div>

    </div>

</section>