@model HomeText

<header style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url('@Model.BackroundImage')" class="header_admin">
    <div class="wrapper">

        <div class="header__container">

            <div class="header__text-box">

                <h1 style="font-size: 37px; color:white" >@Model.Title</h1>

                <p style="color:white">
                    @Model.Body
                </p>



            </div>

        </div>

    </div>

</header>