<section class="team">

    <!-- ---------------- Sıralamalar -----------------  -->

    <div class="wrapper">

        <section class="rankings">

            <div class="rankings__container">

                <div class="ranking__box">
                    <span>
                        <h3 class="num" data-val="46"></h3>
                        <p>+</p>
                    </span>
                    <h4>Uzman Avukatlar</h4>
                </div>

                <div class="ranking__box">
                    <span>
                        <h3 class="num" data-val="890"></h3>
                        <p>+</p>
                    </span>
                    <h4>Davalar Düşürüldü</h4>
                </div>

                <div class="ranking__box">
                    <span>
                        <h3 class="num" data-val="956"></h3>
                        <p>+</p>
                    </span>
                    <h4>Kazanılan Davalar</h4>
                </div>

                <div class="ranking__box">
                    <span>
                        <h3 class="num" data-val="251"></h3>
                        <p>+</p>
                    </span>
                    <h4>Dünya Genelinde Ofisler</h4>
                </div>

            </div>

        </section>

    </div>

    <div class="wrapper">

        <div class="team__textbox">

            <span>Takımımızla Tanışın</span>
            <h2>Sizi Tanımaktan Memnuniyet Duyarız.</h2>

        </div>

        <div class="team__container">

            <div class="team__box">

                <img src="~/Av. site Template/img/team-1.jpg" alt="Takım Üyesi">

                <div>
                    <h5>Teresa Perkins</h5>
                    <span>Takım Yöneticisi</span>
                </div>

            </div>

            <div class="team__box">

                <img src="~/Av. site Template/img/team-2.jpg" alt="Takım Üyesi">

                <div>
                    <h5>Michel Anderson</h5>
                    <span>Yönetici</span>
                </div>

            </div>

            <div class="team__box">

                <img src="~/Av. site Template/img/team-3.jpg" alt="Takım Üyesi">

                <div>
                    <h5>Sarah Barrett</h5>
                    <span>Pazarlama Direktörü</span>
                </div>

            </div>

        </div>

    </div>

</section>