@using Entities.Concrete
@model AboutText
<section class="about">

        <div class="wrapper">

            <div class="about__container">

                <div class="about__container-imagebox">
                    <img src="@Model.Image" alt="About Photo">
                </div>

                <div class="about__container-textbox">

                    <h2>@Model.Title</h2>

                    <p>
                        @Model.Description
                    </p>

                  @*  <ul>
                        <li>&#9673; Şirket ve Endüstri Araştırması</li>
                        <li>&#9673; Makale ve Haber Araştırması</li>
                        <li>&#9673; Endüstri Araştırması ve Pazar Araştırması</li>
                    </ul>*@

                    <i>
                        " @Model.Author "
                    </i>

                    <div class="header__ceo-box">

                        @*<img src="~/Av. site Template/img/image-slider.png" alt="CEO OF ATTORNAY LAW">

                        <div>

                            <span>Ertuğrul YAPAR</span>

                            <h4>CHAIRMAN OF ATTORNA</h4>

                        </div>*@

                    </div>

                <div class="form__button">
                    <a href="#"> Daha Fazla</a>
                </div>

                </div>

            </div>

        </div>

    </section>
