
<section class="about">

        <div class="wrapper">

            <div class="about__container">

                <div class="about__container-imagebox">
                    <img src="~/Av. site Template/img/about.png" alt="About Photo">
                </div>

                <div class="about__container-textbox">

                    <h2>Mükemmel Hukuki Yetenekler ve Deneyimli Avukatlar Size Hizmet Veriyor.</h2>

                    <p>
                        Avukatlarımız, müşterilere dünya çapında çeşitli entegre yetenekler sunmaktadır.
                        Bu yetenekler arasında en aktif M&A, gayrimenkul, finansal hizmetler, riskli dava
                        ve kurumsal risk uygulamaları bulunmaktadır.
                    </p>

                    <ul>
                        <li>&#9673; Şirket ve Endüstri Araştırması</li>
                        <li>&#9673; Makale ve Haber Araştırması</li>
                        <li>&#9673; Endüstri Araştırması ve Pazar Araştırması</li>
                    </ul>

                    <i>
                        " Eğer bir suçla suçlanıyorsanız, en iyi ceza avukatlarına ihtiyacınız olacak. "
                    </i>

                    <div class="header__ceo-box">

                        <img src="~/Av. site Template/img/image-slider.png" alt="CEO OF ATTORNAY LAW">

                        <div>

                            <span>Ertuğrul YAPAR</span>

                            <h4>CHAIRMAN OF ATTORNA</h4>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </section>
