@using Entities.Concrete
@model AboutText
<section class="about">

        <div class="wrapper">

            <div class="about__container">

                <div class="about__container-imagebox">
                <img src="~/Images/UIHomePage/@Model.Image" alt="About Photo">
                </div>

                <div class="about__container-textbox">

                    <h2>@Model.Title</h2>

                    <p>
                    @Html.Raw( Model.Description)
                    </p>

                    <div class="header__ceo-box">

                  

                    </div>

                <div class="form__button">
                    <a href="/hakkimizda"> Daha Fazla</a>
                </div>

                </div>

            </div>

        </div>

    </section>
