<form class="rd-mailform form-modern" data-form-output="form-output-global" data-form-type="contact" method="post" asp-action="AddMessage" asp-controller="Message" id="myForm">
    <div class="row row-30">
        <div class="col-md-6">
            <div class="form-wrap">
                <input class="form-input" id="username" type="text" name="Name" placeholder="Adınız" required>

            </div>
        </div>
        <div class="col-md-6">
            <div class="form-wrap">
                <input class="form-input" id="phone-number" type="text" name="PhoneNumber" placeholder="Telefon Numaranız" required>

            </div>
            <br />
        </div>
        <div class="col-md-6">
            <div class="form-wrap">
                <input class="form-input" id="email" type="email" name="Email" placeholder="E-Posta Adresiz" required>

            </div>
        </div>
        <div class="col-md-6">
            <div class="form-wrap">
                <select class="form__select" name="IssueId" id="subject">
                    <option value="USA">Konunuzu Seçin*</option>
                    @foreach (var item in Model)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }


                </select>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-wrap">
                <div class="textarea">
                    <textarea class="form-input" id="message" name="Content" placeholder="Mesajınızı Girin" required></textarea>

                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row row-30 row-sm-0">
                <div class="col-sm-8">
                    <button class="button button-primary button-block" id="btn1" type="submit">Gönder</button>
                </div>
                <div class="col-sm-4">
                    <button class="button button-silver-outline button-block" type="reset">Sıfırla</button>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="snackbars" id="form-output-global"><p><span class="icon text-middle mdi mdi-check icon-xxs"></span><span>Lütfen tüm alanları doldurunuz!</span></p></div>
<script>
    document.getElementById('myForm').addEventListener('submit', function (event) {
        var username = document.getElementById('username').value;
        var phoneNumber = document.getElementById('phone-number').value;
        var email = document.getElementById('email').value;
        var subject = document.getElementById('subject').value;
        var message = document.getElementById('message').value;

        if (username.trim() === '' || phoneNumber.trim() === '' || email.trim() === '' || subject === 'USA' || message.trim() === '') {
            document.querySelector('.snackbars').classList.add('active');
            event.preventDefault(); // Formun gönderilmesini engelle

            setTimeout(function () {
                snackbars.classList.remove('active');
            }, 3000);
        }
    });
</script>










@*
<div class="contact__container">

    <form method="post" asp-action="AddMessage" asp-controller="Message" class="contact__form">

        <h2>Bize Mesaj Gönderin</h2>

        <div class="form__container">

            <div class="form__input-half">
                <input type="text" name="Name" id="username" placeholder="Adınızı Girin*">
            </div>

            <div class="form__input-half">
                <input type="text" name="PhoneNumber" id="phone-number"
                       placeholder="Telefon Numaranızı Girin*">
            </div>

            <div class="form__input-half">
                <input type="email" name="Email" id="email" placeholder="E-posta Adresinizi Girin*">
            </div>

            <select class="form__select" name="IssueId" id="subject">
                <option value="USA">Konunuzu Seçin*</option>
                @foreach (var item in Model)
                {
                    <option value="@item.Id">@item.Name</option>
                }


            </select>

            <div class="form__textarea">
                <textarea name="Content" id="message" rows="5" placeholder="Mesajınızı Girin*"></textarea>
            </div>

            <div>
                <button class="form__button" id="btn1"> Gönder </button>
            </div>

        </div>
        <script>
            $(#'btn1').click(function(){
                alert("Mesajınız alındı. En kısa sürede sizinle iletişime geçeceğiz.");
            });
        </script>


    </form>
</div>
*@