@model Entities.Concrete.PracticeArea

@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Güncelle</h1>

<h4><a asp-action="Index">Çalışma Alanları</a> @Model.Name</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input readonly="readonly" asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Adı </label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Alan</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>İçerik</label>
                <textarea asp-for="Content" name="Content" id="Description" rows="10" cols="100" class="form-control">

                </textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Resim</label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Ana Sayfadaki Logosu</label>
                <select asp-for="LogoImage" class="form-control">
                    
                    <option value="/Images/PracticaAreaLogos/service-icon1.png">service-icon1</option>
                    <option value="/Images/PracticaAreaLogos/service-icon-2.png">service-icon-2</option>
                    <option value="/Images/PracticaAreaLogos/service-icon-3.png">service-icon-3</option>
                    <option value="/Images/PracticaAreaLogos/service-icon-4.png">service-icon-4</option>
                    <option value="/Images/PracticaAreaLogos/service-icon-5.png">service-icon-5</option>
                    <option value="/Images/PracticaAreaLogos/service-icon-6.png">service-icon-6</option>
                    <option value="/Images/PracticaAreaLogos/agreement.png">agreement</option>
                    <option value="/Images/PracticaAreaLogos/auction.png">auction</option>
                    <option value="/Images/PracticaAreaLogos/discussion.png">discussion</option>
                    <option value="/Images/PracticaAreaLogos/employee.png">employee</option>
                    <option value="/Images/PracticaAreaLogos/fire.png">fire</option>
                    <option value="/Images/PracticaAreaLogos/handcuffs.png">handcuffs</option>
                    <option value="/Images/PracticaAreaLogos/labour-law.png">labour-law</option>
                    <option value="/Images/PracticaAreaLogos/loan.png">loan</option>
                    <option value="/Images/PracticaAreaLogos/medicine.png">medicine</option>
                    <option value="/Images/PracticaAreaLogos/money.png">money</option>
                    <option value="/Images/PracticaAreaLogos/shield.png">shield</option>
                    <option value="@Model.LogoImage" selected>Geçerli Logo</option>
                </select>
               
                <span asp-validation-for="LogoImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Ana Sayfadaki Arkaplanı</label>
                <input asp-for="BackgroundImage" class="form-control" />
                <span asp-validation-for="BackgroundImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-4" style="background-color:gray;">
        <h4> Ana sayfada görünen logolar</h4>
        <p>service-icon1</p>
        <img style="height:54px;width:54px; " src="/Images/PracticaAreaLogos/service-icon1.png" alt="Hizmet İkonu">
        <p>service-icon-2</p>
        <img style="height:54px;width:54px; " src="/Images/PracticaAreaLogos/service-icon-2.png" alt="Hizmet İkonu">
        <p>service-icon-3</p>
        <img style="height:54px;width:54px; " src="/Images/PracticaAreaLogos/service-icon-3.png" alt="Hizmet İkonu">
        <p>service-icon-4</p>
        <img style="height:54px;width:54px; " src="/Images/PracticaAreaLogos/service-icon-4.png" alt="Hizmet İkonu">
        <p>service-icon-5</p>
        <img style="height:54px;width:54px; " src="/Images/PracticaAreaLogos/service-icon-5.png" alt="Hizmet İkonu">
        <p>service-icon-6</p>
        <img style="height:54px;width:54px; " src="/Images/PracticaAreaLogos/service-icon-6.png" alt="Hizmet İkonu">
        <p>handcuffs</p>
        <img style="height:54px;width:54px; " src="/Images/PracticaAreaLogos/handcuffs.png" alt="Hizmet İkonu">
        <p>fire</p>
        <img style="height:54px;width:54px; " src="/Images/PracticaAreaLogos/fire.png" alt="Hizmet İkonu">
        <p>money</p>
        <img style="height:54px;width:54px; " src="/Images/PracticaAreaLogos/money.png" alt="Hizmet İkonu">
        <p>labour-law</p>
        <img style="height:54px;width:54px; " src="/Images/PracticaAreaLogos/labour-law.png" alt="Hizmet İkonu">
        <p>loan</p>
        <img style="height:54px;width:54px; " src="/Images/PracticaAreaLogos/loan.png" alt="Hizmet İkonu">
        <p>medicine</p>
        <img style="height:54px;width:54px; " src="/Images/PracticaAreaLogos/medicine.png" alt="Hizmet İkonu">
        <p>auction</p>
        <img style="height:54px;width:54px; " src="/Images/PracticaAreaLogos/auction.png" alt="Hizmet İkonu">
        <p>discussion</p>
        <img style="height:54px;width:54px; " src="/Images/PracticaAreaLogos/discussion.png" alt="Hizmet İkonu">
        <p>agreement</p>
        <img style="height:54px;width:54px; " src="/Images/PracticaAreaLogos/agreement.png" alt="Hizmet İkonu">
        <p>employee</p>
        <img style="height:54px;width:54px; " src="/Images/PracticaAreaLogos/employee.png" alt="Hizmet İkonu">
        <p>sheild</p>
        <img style="height:54px;width:54px; " src="/Images/PracticaAreaLogos/shield.png" alt="Hizmet İkonu">
    </div>
</div>

<div>
    <a asp-action="Index">Geri Dön</a>
</div>


<script>
    CKEDITOR.replace('Content');
</script>