<link rel="stylesheet" href="~/av. site template/style.css">

<footer class="footer">

    <div class="container">
        <div class="row">
            <div class="col">
                <img style=" max-width: 300%;height:auto;" src="~/av. site template/img/logo-white.png" alt="footer-logo">
            </div>

              <div class="col-6">
               
            </div>
            
            <div class="col">
                <p class="copyright" style="font-family:Roboto, sans-serif; font-size:15px;margin-bottom: 0px;color: #777777;">Tüm Hakları Saklıdır &copy; 2023</p>
            </div>
        </div>
    </div>
   
</footer>



