<link rel="stylesheet" href="~/av. site template/style.css">

<footer class="footer">

    <div class="container">
        <div class="row">
            <div class="col">
                <img src="~/av. site template/img/logo-white.png" alt="logo attorna">
            </div>

              <div class="col-6">
               
            </div>
            
            <div class="col">
                <p class="copyright">Tüm Hakları Saklıdır &copy; 2023</p>
            </div>
        </div>
    </div>
   
            <@*div class="footer__textbox">
                <div class="footer__box">
                    <img src="~/av. site template/img/logo-white.png" alt="logo attorna">
                </div>
            </div>
            <div class="footer__textbox">
                <div class="footer__box">
                    
                </div>
            </div> 
            <div class="footer__textbox">
                <div class="footer__box">
                   
                </div>
            </div>  <div class="footer__textbox">
                <div class="footer__box">
                    <p >Doğru Olan Haklı Olandır.</p>
                </div>
            </div>

            <div class="footer__textbox">
                <div class="footer__box">
                    <p class="copyright">Tüm Hakları Saklıdır &copy; 2023</p>
                </div>
            </div>*@
            
         

</footer>



