<header class="header">

        <div class="wrapper">

            <div class="header__container">

                <div class="header__text-box">

                    <h1>Niyetinizi çok iyi anlıyoruz.</h1>

                    <p>
                        Eğer suçla suçlanıyorsanız, en iyi ceza avukatlarına ihtiyacınız olacak.
                    </p>

                    <div class="header__ceo-box">

                        <img src="~/Av. site Template/img/image-slider.png" alt="CEO OF ATTORNAY LAW">

                        <div>

                            <span> Ertuğrul YAPAR </span>

                            <h4>CEO & FOUNDER OF ATTORNA </h4>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </header>