<nav class="nav">

    <div class="wrapper">

        <div class="navigation">

            <img src="~/Av. site Template/img/logo.png" alt="">

            <ul>

                <li>
                    Anasayfa&nbsp;
                    <i class="fa-solid fa-angle-down"></i>
                </li>

                <li>
                    Hakkımızda&nbsp;
                    <i class="fa-solid fa-angle-down"></i>
                </li>

                <li>
                    Çalışma Alanlarmız&nbsp;
                    <i class="fa-solid fa-angle-down"></i>
                </li>

                <li>
                    Attorney&nbsp;
                    <i class="fa-solid fa-angle-down"></i>
                </li>

                <li>
                    Blog&nbsp;
                    <i class="fa-solid fa-angle-down"></i>
                </li>

                <li>
                    İletişim&nbsp;
                    <i class="fa-solid fa-angle-down"></i>
                </li>

                <li class="contact-menu">

                    <i class="fa-solid fa-phone"></i>

                    <div>
                        <h3>Bizi Arayın</h3>
                        <a href="#">(099) 896 698 68</a>
                    </div>

                </li>

            </ul>

        </div>

    </div>

</nav>