<nav class="nav fixed-top">

    <div class="wrapper">

        <div class="navigation">

            <img src="~/Av. site Template/img/logo YPR.png"  alt="">

            <ul>

                <li>
                    <a  href="/Default/Index"><span>Anasayfa</span></a>
                    
                </li>

                <li>
                    <a href="/About/Index"><span>Hakkımızda</span></a>
                   
                </li>

                <li>
                    <a href="/PracticeArea/Index"><span>Çalışma Alanlarmız</span></a>
                   
                </li>          

                <li>
                    <a href=""><span>Blog</span></a>
                    
                </li>

                <li>
                    <a href="/Contact/Index"><span>İletişim</span></a>
                    
                </li>

                <li class="contact-menu">

                    <i class="fa-solid fa-phone"></i>

                    <div>
                        <h3>Bizi Arayın</h3>
                        <a href="#">(099) 896 698 68</a>
                    </div>

                </li>

            </ul>

        </div>

    </div>

</nav>
