@using Entities.Concrete
@model List<PracticeArea>


<div class="sidebar-box ftco-animate">
    <div class="categories">
        <h3>Çalışma Alanlarımız</h3>

        @foreach (var item in Model)
        {
            <li><a href="/PracticeArea/PracticeAreas/@item.Id">@item.Name <span class="ion-ios-arrow-forward"></span></a></li>
        }
        
        
    </div>
</div>
